body{
    font-family: 'Noto Serif', serif;
    margin: 5;
}
/*------------------------
    Header section styles
-------------------------*/
.top{
    
    width: 100%;
    display: flex;
}
.main-article{
    margin: 5%;
}
.top .main-article h1{
    font-size: 43px;
}
.top .main-article p{
    padding-bottom: 25px;
    padding-right: 20px;
}
.button-link{
    text-decoration: none;
    background-color:palevioletred ;
    color:white;
    font-weight: 700;
    border-radius: 35px;
    padding: 10px 15px;
}
.fa-angle-right{
    padding-left: 10px;
    padding-right: 10px;
}
.aside-img{
    margin-left: 15%;
    margin-right: 9%;
}

/*------------------------
    main Section Styles
-------------------------*/


