body{
    font-family: 'Noto Serif', serif;
    margin: 5;
}
/*------------------------
    Header section styles
-------------------------*/
.top{
    
    width: 100%;
    display: flex;
}
.main-article{
    margin: 5%;
}
.top .main-article h1{
    font-size: 43px;
}
.top .main-article p{
    padding-bottom: 25px;
    padding-right: 20px;
}
.button-link{
    text-decoration: none;
    background-color:palevioletred ;
    color:white;
    font-weight: 700;
    border-radius: 35px;
    padding: 10px 15px;
}
.fa-angle-right{
    padding-left: 10px;
    padding-right: 10px;
}
.aside-img{
    margin-left: 15%;
    margin-right: 9%;
}

/*------------------------
    main Section Styles
-------------------------*/
.main-container div h1{
    text-align: center;
    margin-top: 200px;
}
.articls{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
}

.products{

}
.rating{

}
.checked{
    color: orange;
}






/*------------------------
    Footer Section Styles
-------------------------*/
.footer-haeding h3{
    text-align: center; 
    color:rgb(194, 209, 238) ;
    padding-top: 4%; 

}
.footer-haeding p{
    text-align: center;
    color:rgb(194, 209, 238) ;
    padding-bottom: 7%;
}
.footer-haeding{
    background-color: rgb(24, 24, 58);
}
.icons{
    justify-content: center;
    align-items: center;
    display: flex;
}
.fa-facebook .fa-youtube .fa-twitter{
    color:darkgray;
}
a{
    color: floralwhite;
    height: 30px;
    width: 30px;
    background-color:rgb(29, 48, 71);
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    margin: 10px;
}
a:hover{
    color:lightcoral
}


